.search-form{
    position: relative;
    margin-bottom: 110px;

    &__inner{
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        max-width: 498px;
    }  

    &__field{
        background: transparent url(../image/svg/search.svg) no-repeat 18px; 
        padding-left: 55px;
        border: 0;
        width: 360px;
        height: 64px;
        outline: none;
        color: white;
    }

    &__btn{
        @include font-btn;
        position: absolute;
        left: 0;
        top: 8px;
        cursor: pointer;
        padding: 12px 36px;
        background: #FF6E30;
        border-radius: 8px;
        border: 0;
        transform: translateX(359px);

        &:hover{
            opacity: .75;
        }
    }
}

.email-form{
    position: relative;
    margin-bottom: 110px;
    &__inner{
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
    }  

    &__field{
        background: transparent;
        padding-left: 24px;
        border: 0;
        width: 400px;
        height: 64px;
        outline: none;
        color: white;

    }

    &__btn{
        @include font-btn;
        position: absolute;
        left: 0;
        top: 8px;
        cursor: pointer;
        padding: 12px 36px;
        background: #FF6E30;
        border-radius: 8px;
        border: 0;
        transform: translateX(410px);

        &:hover{
            opacity: .75;
        }
    }
}