.join{
   
    &__wrapper{
        margin: 0 auto;
        width: 553px;
    }

    &__title{
        @include font-title;
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 25px;
    }

    &__desc{
        @include font-desc;
        font-weight: 500;
        font-size: 18px;
        max-width: 427px;
        text-align: center;
        margin-left: 63px;
        margin-bottom: 100px;
    }
}